body {
  font-family: "Lato";
}

h1 {
  font-family: "Arvo";
  font-size: 35px;
  color: #464646;
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
}

h2 {
  margin-left: 20px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.bar_labels {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
