.state {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}

.state:hover {
  fill-opacity: 0.5;
}

#description {
  display: inline-block;
  vertical-align: top;
}

#map {
  display: inline-block;
}

#selectedState, #selectedStateName {
  display: inline-block;
}

.description {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px
}
